header {
  background-color: #e0e7ff;
  color: #4d4dec;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logo {
  margin: 0;
  font-size: 24px;
}

.container {
  display: flex;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #4d4dec;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #5595e7;
}

/* HERO SECTION  */
.hero {
  min-height: 70vh;
  padding: 80px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;

  background: linear-gradient(135deg, #f8fafc, #eef2ff);
  color: #172033;
}

/* Small welcome text */
.hero span {
  display: inline-block;
  margin-bottom: 18px;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #e0e7ff;
  color: #4f46e5;
  font-size: 14px;
  font-weight: 600;
}

/* Main heading */
.hero h2 {
  max-width: 650px;
  margin: 0 0 20px;
  font-size: 48px;
  line-height: 1.15;
  font-weight: 800;
  letter-spacing: -1px;
}

/* Description */
.hero p {
  max-width: 600px;
  margin: 0 0 30px;
  color: #64748b;
  font-size: 17px;
  line-height: 1.8;
}

/* Button */
.hero button {
  padding: 13px 25px;
  border: none;
  border-radius: 10px;
  background-color: #4f46e5;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero button:hover {
  transform: translateY(-3px);
  background-color: #3730a3;
}

/* Hero image */
.hero img {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  max-width: 35%;
  border-radius: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    padding: 60px 25px;
    text-align: center;
    align-items: center;
  }

  .hero h2 {
    font-size: 36px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero img {
    position: static;
    transform: none;
    max-width: 80%;
    width: 300px;
    margin-top: 40px;
  }
}

/* // about  */
.about {
  padding: 90px 8%;
  text-align: center;
  background-color: #f8fafc;
}

.about h2 {
  margin: 0 0 18px;
  font-size: 36px;
  color: #111827;
}

.about p {
  max-width: 650px;
  margin: 0 auto;
  color: #64748b;
  font-size: 17px;
  line-height: 1.8;
}

/* // footer  */
.footer {
  padding: 30px 8%;
  background-color: #e0e7ff;
  color: #134892;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer p::first-letter {
  color: #64748b;
}
